<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body >
    <%- include('partials/navbar') %>
    <form class="container my-5" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" minlength="3" maxlength="11" id="exampleInputUsername" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</body>
</html>