.form-control{
    width: 350px;
}

body{
    color: white;
    background: #343a40; 
}

.card{
    background-color: #212529;
    width: 30rem;
}

.id{
    font-size: 20px;
    color: #212529;
}

.list-group-item{
    background-color: #212529;
    color: white;
}

.list-group-item.disabled, .list-group-item:disabled{
    background-color: #212529;
}

.profile{
    width: 800px;
}

.dropdown-menu-dark{
    background-color: #212529;
}

.container-fluid h1{
    background-color: #212529;
}

.modal-content{
    background-color: #212529;
}